In [1]:
import pandas as pd
import numpy as np
import scipy
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [10]:
df = pd.read_excel('concentration.xlsx')
df

   concentration5  concentration10  concentration15  concentration20
0               7               12               14               19
1               8               17               18               25
2              15               13               19               22
3              11               18               17               23
4               9               19               16               18
5              10               15               18               20

In [11]:
data_r1 = pd.melt(df.reset_index(), id_vars=['index'], value_vars=['concentration5','concentration10','concentration15','concentration20'])
data_r1.columns = ['index', 'treatments', 'value']

In [52]:
data_r1

    index       treatments  value
0       0   concentration5      7
1       1   concentration5      8
2       2   concentration5     15
3       3   concentration5     11
4       4   concentration5      9
5       5   concentration5     10
6       0  concentration10     12
7       1  concentration10     17
8       2  concentration10     13
9       3  concentration10     18
10      4  concentration10     19
11      5  concentration10     15
12      0  concentration15     14
13      1  concentration15     18
14      2  concentration15     19
15      3  concentration15     17
16      4  concentration15     16
17      5  concentration15     18
18      0  concentration20     19
19      1  concentration20     25
20      2  concentration20     22
21      3  concentration20     23
22      4  concentration20     18
23      5  concentration20     20

In [45]:
model = ols('value ~ C(treatments)', data=data_r1).fit()

In [7]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  value   R-squared:                       0.746
Model:                            OLS   Adj. R-squared:                  0.708
Method:                 Least Squares   F-statistic:                     19.61
Date:                Tue, 27 Aug 2019   Prob (F-statistic):           3.59e-06
Time:                        15:03:38   Log-Likelihood:                -54.344
No. Observations:                  24   AIC:                             116.7
Df Residuals:                      20   BIC:                             121.4
Df Model:                           3
Covariance Type:            nonrobust
====================================================================================================
                                       coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------------
Intercept                           15.6667      1.041     15.042      0.000      13.494      17.839
C(treatments)[T.concentration15]     1.3333      1.473      0.905      0.376      -1.739       4.406
C(treatments)[T.concentration20]     5.5000      1.473      3.734      0.001       2.428       8.572
C(treatments)[T.concentration5]     -5.6667      1.473     -3.847      0.001      -8.739      -2.594
==============================================================================
Omnibus:                        0.929   Durbin-Watson:                   2.181
Prob(Omnibus):                  0.628   Jarque-Bera (JB):                0.861
Skew:                           0.248   Prob(JB):                        0.650
Kurtosis:                       2.215   Cond. No.                         4.79
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [8]:
aov_table = sm.stats.anova_lm(model, typ=1)
aov_table

                 df      sum_sq     mean_sq          F    PR(>F)
C(treatments)   3.0  382.791667  127.597222  19.605207  0.000004
Residual       20.0  130.166667    6.508333        NaN       NaN

LSD

In [39]:
import math
t = -1*scipy.stats.t.ppf(0.025,20)
n= 6
MSE = 6.508333
lsd = t*math.sqrt(2*MSE/n)
lsd

3.072422588325206

In [15]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd
from statsmodels.stats.multicomp import MultiComparison
mc = MultiComparison(data_r1['value'], data_r1['treatments'])
mcresult = mc.tukeyhsd(0.05)
mcresult.summary()

In [27]:
col1 = [4,3,2]
col2 = [6,4,5]
col3 = [6,7,8]

In [28]:
from scipy import stats
stats.f_oneway(col1,col2,col3)

F_onewayResult(statistic=12.0, pvalue=0.008000000000000002)

In [23]:
df2 = pd.read_excel('teachingmethod.xlsx')
df2

   col1  col2  col3
0     4     2     2
1     3     4     1
2     2     6     3

In [31]:
stats.f_oneway(df2['col1'],df2['col2'],df2['col3'])

F_onewayResult(statistic=1.5, pvalue=0.2962962962962962)

In [32]:
model = ols('col1~ col2+col3', data = df2).fit()

In [33]:
model.summary()

C:\Users\Somi\Anaconda3\lib\site-packages\statsmodels\stats\stattools.py:72: ValueWarning: omni_normtest is not valid with less than 8 observations; 3 samples were given.
  "samples were given." % int(n), ValueWarning)
C:\Users\Somi\Anaconda3\lib\site-packages\statsmodels\regression\linear_model.py:1549: RuntimeWarning: divide by zero encountered in true_divide
  return 1 - (np.divide(self.nobs - self.k_constant, self.df_resid)
C:\Users\Somi\Anaconda3\lib\site-packages\statsmodels\regression\linear_model.py:1550: RuntimeWarning: invalid value encountered in double_scalars
  * (1 - self.rsquared))
C:\Users\Somi\Anaconda3\lib\site-packages\statsmodels\regression\linear_model.py:1558: RuntimeWarning: divide by zero encountered in double_scalars
  return self.ssr/self.df_resid
C:\Users\Somi\Anaconda3\lib\site-packages\statsmodels\regression\linear_model.py:1510: RuntimeWarning: divide by zero encountered in double_scalars
  return np.dot(wresid, wresid) / self.df_resid

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                   col1   R-squared:                       1.000
Model:                            OLS   Adj. R-squared:                    nan
Method:                 Least Squares   F-statistic:                     0.000
Date:                Tue, 27 Aug 2019   Prob (F-statistic):                nan
Time:                        11:14:51   Log-Likelihood:                 101.03
No. Observations:                   3   AIC:                            -196.1
Df Residuals:                       0   BIC:                            -198.8
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      5.0000        inf          0        nan         nan         nan
col2          -0.5000        inf         -0        nan         nan         nan
col3        4.441e-16        inf          0        nan         nan         nan
==============================================================================
Omnibus:                          nan   Durbin-Watson:                   2.600
Prob(Omnibus):                    nan   Jarque-Bera (JB):                0.354
Skew:                           0.382   Prob(JB):                        0.838
Kurtosis:                       1.500   Cond. No.                         15.1
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [28]:
data_r = pd.melt(df2.reset_index(), id_vars=['index'], value_vars=['col1','col2','col3'])
data_r.columns = ['id', 'treatments', 'value']

In [40]:
model = ols('value ~ C(treatments)', data=data_r).fit()
anova_table = sm.stats.anova_lm(model, typ=1)
anova_table

                df  sum_sq  mean_sq    F    PR(>F)
C(treatments)  2.0     6.0      3.0  1.5  0.296296
Residual       6.0    12.0      2.0  NaN       NaN

In [29]:
data_r

   id treatments  value
0   0       col1      4
1   1       col1      3
2   2       col1      2
3   0       col2      2
4   1       col2      4
5   2       col2      6
6   0       col3      2
7   1       col3      1
8   2       col3      3

In [32]:
scipy.stats.f.ppf(1-0.01, dfn=3, dfd=20)

4.938193382310539

In [2]:
df3 = pd.read_excel('C:/Users/Somi/Documents/cotton weight.xlsx')

In [12]:
data1 = pd.melt(df3.reset_index(), id_vars=['index'], value_vars=['cotwt.15','cotwt.20','cotwt.25','cotwt.30','cotwt.35'])
data1.columns = ['id', 'treatments', 'value']

In [13]:
data1

    id treatments  value
0    0   cotwt.15      7
1    1   cotwt.15      7
2    2   cotwt.15     15
3    3   cotwt.15     11
4    4   cotwt.15      9
5    0   cotwt.20     12
6    1   cotwt.20     17
7    2   cotwt.20     12
8    3   cotwt.20     18
9    4   cotwt.20     18
10   0   cotwt.25     14
11   1   cotwt.25     18
12   2   cotwt.25     18
13   3   cotwt.25     19
14   4   cotwt.25     19
15   0   cotwt.30     19
16   1   cotwt.30     25
17   2   cotwt.30     22
18   3   cotwt.30     19
19   4   cotwt.30     23
20   0   cotwt.35      7
21   1   cotwt.35     10
22   2   cotwt.35     11
23   3   cotwt.35     15
24   4   cotwt.35     11

In [16]:
mc = MultiComparison(data1['value'], data1['treatments'])
mcresults = mc.tukeyhsd(0.05)
mcresults.summary()

In [17]:
scipy.stats.f.ppf(1-0.05, dfn=4, dfd=20)

2.8660814020156584